<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografia</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 2;
            margin: 0;
            padding: 0px;
            background-color: white;
        }
        header {
            background: linear-gradient(to left, #2c3e50,#24e2d9 50%, #2c3e50);
            color: white;
            padding: 50px 0;
            text-align: center;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }
        nav {
            background: #444;
            padding: 10px;
        }
        nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
        }
        nav a:hover {
            text-decoration: underline;
        }
        .container {
            width: 500%;
            margin: auto;
            overflow: hidden;
            padding: 100px;
            background: white;
        }
        img {
            max-width: 40%;
            height: 100px;
            float: left;
            margin: 0 20px 20px 0;
            border-radius: 50%;
        }
        footer {
            text-align: center;
            padding: 20px;
            background: linear-gradient(to left, #2c3e50,#24e2d9 50%, #2c3e50);
            color: white;
            clear: both;
        }
    </style>
</head>
<body>
    <header>
        <h1>Minha Biografia.</h1>
    </header>
    
    <nav>
        <li><a href="Inicio.html">Início</a></li>
        <li><a href="Bio.html">Biografia</a></li>
        <li><a href="Contato.html">Contato</a></li>
    </nav>
    
    <div class="container">
<img src="8HKSQQM2G66KAUB5MHQJZ6LKU6KC23.TMB.jpg" alt="Minha Foto">
        <h2>Quem sou eu?</h2>
        <p>Meu nome é Pedro Henrique Nascimento Duarte.</p>
        <p>Nasci em Jaboticabal-SP e sempre gostei de jogos virtuais,tecnologia e esportes.</p>
        
        <h3>Formação Acadêmica:</h3>
        <p>Cursando Análise e Desenvolvimento de Sistemas na FATEC-Taquaritinga.</p>
        
        <h3>Experiência Profissional:</h3>
   <P>Sem experiência profissional na área, mas adquirindo conhecimento para tal.</P>
    </div>
    
    <footer>
        <marquee direction="Right">Meu Site Pessoal.Todos os direitos reservados!</marquee>
    </footer>
</body>
</html>